[Unit]
Description=Mount Bootloader Misc Data
DefaultDependencies=no
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly
Requires=systemd-udevd.service systemd-udev-trigger.service
After=systemd-udevd.service systemd-udev-trigger.service
[Mount]
Type=vfat
What=/dev/disk/by-partlabel/misc
Where=/boot/misc
Options=rw,noatime,fmask=0022,dmask=0022,shortname=mixed,utf8
