SUBSYSTEM=="block|ubi", SYMLINK+="block/$name"
SUBSYSTEM=="block", ENV{ID_PART_ENTRY_SCHEME}=="gpt", ENV{ID_PART_ENTRY_NAME}=="?*", SYMLINK+="block/by-name/$env{ID_PART_ENTRY_NAME}"
SUBSYSTEM=="graphics", KERNEL=="fb[0-9]*", SYMLINK+="graphics/$name"
